@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  color: var(--text-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color);
  transition: .2s;
  overflow: hidden;

  --rarity-color-6: #f97316;
  --rarity-color-5: #facc15;
  --rarity-color-4: #c4b5fd;
  --rarity-color-3: #22bbff;
  --rarity-color-2: #bef264;
  --rarity-color-1: #bfbfbf;

  --text-color: #0f0f0f;
  --bg-color: #ececec;
  --bg-accent-color: #ffffff;
  --bg-sub-color: #bfbfbf;
  --bg-sub-accent-color: #f4f5f6;
  --bg-sub-accent-color-30: #f4f5f64d;
  --bg-second-color: #666666;
  --hover-color: #a2bad475;
  --img-invert: 1;
  --box-shadow-options: 0 2px 4px rgba(0, 0, 0, 0.3);
  --bg-image: url('/bg.light.jpg');

  --bg-gradient-center: linear-gradient(90deg,
      var(--bg-color) 0%,
      var(--bg-accent-color) 45%,
      var(--bg-accent-color) 55%,
      var(--bg-color) 100%);
  --bg-gradient-left: linear-gradient(90deg,
      var(--bg-accent-color) 0%,
      var(--bg-color) 100%);
  --bg-gradient-right: linear-gradient(270deg,
      var(--bg-accent-color) 0%,
      var(--bg-color) 100%);
  --bg-gradient-top: linear-gradient(180deg,
      var(--bg-accent-color) 0%,
      var(--bg-color) 100%);
  --bg-gradient-bottom: linear-gradient(0deg,
      var(--bg-accent-color) 0%,
      var(--bg-color) 100%);
}

body.dark-theme {
  --text-color: #f4f5f6;
  --bg-color: #191920;
  --bg-accent-color: #353543;
  --bg-sub-color: #262626;
  --bg-sub-accent-color: #484855;
  --bg-sub-accent-color-30: #7878781f;
  --bg-second-color: #666666;
  --hover-color: #34414fa1;
  --img-invert: 0;
  /* --box-shadow-options: 0 2px 4px rgba(255, 255, 255, 0.15); */
  --bg-image: url('/bg.dark.jpg');
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  transition: .2s;
  background: var(--rarity-color-3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #198abb;
}