@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&display=swap');

:root {
  --main-color-black: #0f0f0f;
  --main-color-white: #f4f5f6;
  --main-color-ultra-white: #ffffff;
  --main-color-gray: #ececec;
  --main-color-blue: #22bbff;
  --sub-color-gray: #bfbfbf;
  --rarity-color-orange: #f97316;
  --rarity-color-yellow: #facc15;
  --rarity-color-lightpurple: #c4b5fd;
  --rarity-color-lightgreen: #bef264;
  --bg-color-white-50: #f4f5f650;
  --bg-gradient-center: linear-gradient(90deg,
      var(--main-color-gray) 0%,
      var(--main-color-ultra-white) 44.27%,
      var(--main-color-ultra-white) 57.81%,
      var(--main-color-gray) 100%);
  --bg-gradient-left: linear-gradient(90deg,
      var(--main-color-ultra-white) 0%,
      var(--main-color-gray) 100%);
  --bg-gradient-right: linear-gradient(270deg,
      var(--main-color-ultra-white) 0%,
      var(--main-color-gray) 100%);
  --bg-gradient-top: linear-gradient(180deg,
      var(--main-color-ultra-white) 0%,
      var(--main-color-gray) 100%);
  --bg-gradient-bottom: linear-gradient(0deg,
      var(--main-color-ultra-white) 0%,
      var(--main-color-gray) 100%);
}

body {
  font-family: 'Overpass', sans-serif;
  color: var(--main-color-black);
  background-image: url('$lib/assets/bg.light.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--main-color-ultra-white);
}

::-webkit-scrollbar-thumb {
  /* background-color: var(--main-color-orange); */
  transition: .2s;
  /* background: rgb(121, 121, 121); */
  background: var(--main-color-blue);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #198abb;
  /* background-color: rgb(94, 94, 94); */
}